#top {
    font-size: 2em;
}

#p1 {
    margin: 20px 50px;
}

#p2 {
    font-size: 3em;
    background-color: blue;
    color: white;
    text-align: center;
}

#shadow {
    float:right;
    width: 350px;
    padding: 15px;
}

#section1 {
    margin: 50px;
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 20px;
    color: purple;
}

#shadowname {
    color:orange
}