body{
    background-color: purple;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: aqua;
    padding: 30px;
    margin: auto;
    border-radius:50px;
    color: #0000AA;
    width: 80%;
    text-align: center;
}
p {
    background-color: black;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    color: white;
    width: 708px;
    text-align: center;
}